<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food_item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @food_item.price %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @food_item.Calories %>
</p>

<p>
  <strong>Section:</strong>
  <%= @food_item.section.name%>
</p>

<%= link_to 'Edit', edit_food_item_path(@food_item) %> |
<%= link_to 'Back', food_items_path %>
