<p id="notice"><%= notice %></p>

<h1>Order History</h1>

<table class = "table table-striped">
  <thead class = "thead thead-default">
    <tr>
      <th>Number</th>
      <th>Cost</th>
      <th>Food Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.id %></td>
        <td><%= order_item.cost %></td>
        <td><%= order_item.food_item.name %></td>
        <td><%= link_to 'Show', order_item %></td>
        <td><%= link_to 'Destroy', order_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Item', new_order_item_path %>
