<p id="notice"><%= notice %></p>

<p>
  <strong>Order Number:</strong>
  <%= @order_item.id %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @order_item.cost %>
</p>

<p>
  <strong>Food item:</strong>
  <%= @order_item.food_item.name %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
<br>

<h6><%= link_to 'Add Customer', new_customer_path({:order_item_id => @order_item.id}), :class => "btn btn-info" %></h6>